<div class="successful-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="successful-content">
                    <h2>Welcome</h2>
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpu tate cursus a sit amet mauris accumsan velit.</p>
                    <div class="successful-btn">
                        <a class="btn-hover default-btn" href="#">About Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="successful-img">
                    <img alt="" src="/uploads/banner-10.png">
                </div>
            </div>
        </div>
    </div>
</div>