<div class="blog-area gray-bg-4 pt-120 pb-90">
    <div class="container-fluid">
        <div class="section-title-6 text-center mb-75">
            <h2 class="common-title-style">Latest Blog</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="blog-wrap-2 blog-shadow mb-30">
                    <div class="blog-img hover-3">
                        <a href="blog-details.html">
                            <img src="/uploads/blog-7.jpg" alt="">
                        </a>
                        <div class="readmore-icon">
                            <a href="blog-details.html">
                                <i class="ti-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="blog-content-2">
                        <div class="blog-meta-3">
                            <ul>
                                <li>22 April, 2018</li>
                                <li><a href="#">4 <i class="ti-comment-alt"></i></a></li>
                            </ul>
                        </div>
                        <h4><a href="blog-details.html">Karla Welch Launches Her Levi’s Collaboration With</a></h4>
                        <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-wrap-2 blog-shadow mb-30">
                    <div class="blog-img hover-3">
                        <a href="blog-details.html">
                            <img src="/uploads/blog-8.jpg" alt="">
                        </a>
                        <div class="readmore-icon">
                            <a href="blog-details.html">
                                <i class="ti-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="blog-content-2">
                        <div class="blog-meta-3">
                            <ul>
                                <li>20 April, 2018</li>
                                <li><a href="#">4 <i class="ti-comment-alt"></i></a></li>
                            </ul>
                        </div>
                        <h4><a href="blog-details.html">Sienna Miller Has the New Uniform for Cool Moms</a></h4>
                        <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-wrap-2 blog-shadow mb-30">
                    <div class="blog-img hover-3">
                        <a href="blog-details.html">
                            <img src="/uploads/blog-7.jpg" alt="">
                        </a>
                        <div class="readmore-icon">
                            <a href="blog-details.html">
                                <i class="ti-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="blog-content-2">
                        <div class="blog-meta-3">
                            <ul>
                                <li>18 April, 2018</li>
                                <li><a href="#">4 <i class="ti-comment-alt"></i></a></li>
                            </ul>
                        </div>
                        <h4><a href="blog-details.html">How Nancy Cunard And Her Bangles Inspired an Bronze </a></h4>
                        <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="blog-wrap-2 blog-shadow mb-30">
                    <div class="blog-img hover-3">
                        <a href="blog-details.html">
                            <img src="/uploads/blog-9.jpg" alt="">
                        </a>
                        <div class="readmore-icon">
                            <a href="blog-details.html">
                                <i class="ti-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="blog-content-2">
                        <div class="blog-meta-3">
                            <ul>
                                <li>18 April, 2018</li>
                                <li><a href="#">4 <i class="ti-comment-alt"></i></a></li>
                            </ul>
                        </div>
                        <h4><a href="blog-details.html">How Nancy Cunard And Her Bangles Inspired an Bronze </a></h4>
                        <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>