<div class="sc-counter-wrap2 pt-115 pb-85 gray-bg-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-count2 sc-count mb-30 text-center">
                    <h2 class="count">265</h2>
                    <span>Projects</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-count2 sc-count mb-30 text-center">
                    <h2 class="count">47</h2>
                    <span>Years of</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-count2 sc-count mb-30 text-center">
                    <h2 class="count">500</h2>
                    <span>Publications</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-count2 sc-count mb-30 text-center">
                    <h2 class="count">29</h2>
                    <span>Employees</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-count2 sc-count mb-30 text-center">
                    <h2 class="count">325</h2>
                    <span>Experience</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="single-count2 sc-count mb-30 text-center">
                    <h2 class="count">86</h2>
                    <span>Feedbacks</span>
                </div>
            </div>
        </div>
    </div>
</div>