<div class="sc-testimonial-wrap3">
    <div class="testimonial-area pt-115 pb-110">
        <div class="container">
            <div class="section-title-6 text-center mb-0">
                <h2 class="common-title-style">Awesome Gallery</h2>
            </div>
        </div>
    </div>
</div>
<div class="instagram-area">
    <div class="instagram-wrap-3">
        <div class="instragram-active-4 owl-carousel">
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/24.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/25.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/26.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/27.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/26.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/24.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/25.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/26.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/27.jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/26.jpg"></a>
            </div>
        </div>
    </div>
</div>
