<div class="portfolio-area pt-120 pb-120 container-padding-res">
    <div class="container">
        <div class="section-title-6 text-center mb-75">
            <h2 class="common-title-style">Latest Projects</h2>
        </div>
        <div class="portfolio-menu-active portfolio-menu-1 pro-menu-btn text-center mb-50">
            <button class="active" data-filter="*">All</button>
            <button data-filter=".cat2">Artwork</button>
            <button data-filter=".cat3">Branding </button>
            <button data-filter=".cat4">Graphics</button>
            <button data-filter=".cat5"> Photography</button>
        </div>
        <div class="portfolio-style pro-col-40">
            <div class="row grid" data-show="9" data-load="3">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-1.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-1.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Portfolio Starts Here</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-2.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-2.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Build the Next Generation</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>57 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat2 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-3.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-3.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Simply Beautiful</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>207 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-4.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-4.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Smart Home Location</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>165 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat2 cat5 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-5.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-5.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">The Mars Exploration</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>62 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat4 cat3 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-6.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-6.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Snaps Selfie and Roves</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-7.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-7.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Rovers Update</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>741 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-8.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-8.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Opportunity Logs Day</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>364 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-9.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-9.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Yoshihide Kozai</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-1.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-1.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Portfolio Starts Here</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>211 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat5 cat4 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-2.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-2.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Build the Next Generation</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>157 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 grid-item cat1 cat2 item-hidden">
                    <div class="portfolio-wrap mb-32">
                        <div class="portfolio-img hover-2">
                            <img alt="" src="/uploads/grid3-col-3.jpg">
                            <div class="portfolio-zoom">
                                <a class="img-popup" href="/uploads/grid3-col-3.jpg"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <div class="portfolio-content">
                            <div class="portfolio-title">
                                <h4><a href="single-portfolio-2.html">Simply Beautiful</a></h4>
                            </div>
                            <div class="portfolio-like">
                                <span>128 <a href="#"><i class="ti-heart"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pro-load-more text-center mt-30">
                <a href="#" class="load-more-toggle default-btn btn-hover">
                    Load More Projects
                </a>
            </div>
        </div>
    </div>
</div>