<div class="slider-area">
    <div class="slider-active-3 pagination-style3 owl-carousel">
        <div class="single-slider bg-img pt-50 slider-height-2 d-flex align-items-center" style="background-image: url(/uploads/slider4.png);">
            <div class="container">
                <div class="row">
                    <div class="ml-auto col-lg-4 col-md-6">
                        <div class="slider-text-6 slider-animated-1">
                            <h1 class="animated">Web App<br> Developmet</h1>
                            <h3 class="animated">
                                Fashion never gets old
                            </h3>
                            <div class="slider-btn-4 mt-30">
                                <a class="default-btn animated btn-hover" href="single-product.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg-img pt-50 slider-height-2 d-flex align-items-center" style="background-image: url(/uploads/slider3.png);">
            <div class="container">
                <div class="row">
                    <div class="ml-auto col-lg-4 col-md-6">
                        <div class="slider-text-6 slider-animated-1">
                            <h1 class="animated">Mobile App <br> Developmet</h1>
                            <h3 class="animated">
                                We are greedy!
                            </h3>
                            <div class="slider-btn-4 mt-30">
                                <a class="default-btn animated btn-hover" href="single-product.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg-img pt-50 slider-height-2 d-flex align-items-center" style="background-image: url(/uploads/slider6.png);">
            <div class="container">
                <div class="row">
                    <div class="ml-auto col-lg-4 col-md-6">
                        <div class="slider-text-6 slider-animated-1">
                            <h1 class="animated">Graphics <br> Design</h1>
                            <h3 class="animated">
                                We are greedy!
                            </h3>
                            <div class="slider-btn-4 mt-30">
                                <a class="default-btn animated btn-hover" href="single-product.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg-img pt-50 slider-height-2 d-flex align-items-center" style="background-image: url(/uploads/slider5.png);">
            <div class="container">
                <div class="row">
                    <div class="ml-auto col-lg-4 col-md-6">
                        <div class="slider-text-6 slider-animated-1">
                            <h1 class="animated">Digital <br> Marketing</h1>
                            <h3 class="animated">
                                We are greedy!
                            </h3>
                            <div class="slider-btn-4 mt-30">
                                <a class="default-btn animated btn-hover" href="single-product.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
