<div class="summary-info sidebar-active">
    <div class="wrap-sidebar">
        <div class="sidebar-nav-icon">
            <button class="op-sidebar-close"><span class="ti-close"></span></button>
        </div>
        <div class="summary-info-all">
            <div class="summary-logo">
                <a href="index.html">
                    <img src="assets/img/logo/logo-3.png" alt="">
                </a>
            </div>
            <div class="summary-list-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididu ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                <div class="summary-list">
                    <ul>
                        <li><i class="ti-hand-point-right"></i>Project Management</li>
                        <li><i class="ti-hand-point-right"></i>Portfolio Showcasing</li>
                        <li><i class="ti-hand-point-right"></i>Blogs & Content Sharing</li>
                        <li><i class="ti-hand-point-right"></i>Social Work Management</li>
                        <li><i class="ti-hand-point-right"></i>eCommerce Shop Management</li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-contact">
                <h5>Fell Free To contact Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididu.</p>
                <div class="sidebar-contact-list">
                    <ul>
                        <li><i class="ti-location-pin"></i>123 - 45678910</li>
                        <li><i class="ti-email"></i><a href="#">info@example.com</a></li>
                        <li><i class="ti-location-pin"></i>115 5th Ave, New York</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>