<div class="sc-testimonial-wrap3">
    <div class="testimonial-area pt-115 pb-110">
        <div class="container">
            <div class="section-title-6 text-center mb-75">
                <h2 class="common-title-style">Testimonials</h2>
            </div>
            <div class="testimonial-active-3 owl-carousel">
                <div class="sin-testimonial3">
                    <div class="client3-content">
                        <p>“Vestibulum ante ipsum prim aucibus orci luctustrices
                            posuere cubilia Curae Suspen disse viverra ed viverra. Mauris ullamcorper euismod vehicula nunc purus.”</p>
                    </div>
                    <div class="client3-info">
                        <img alt="" src="/uploads/client-3.png">
                        <h5>Anet Growswood</h5>
                        <span>Customer</span>
                    </div>
                </div>
                <div class="sin-testimonial3">
                    <div class="client3-content">
                        <p>“Vestibulum ante ipsum prim aucibus orci luctustrices
                            posuere cubilia Curae Suspen disse viverra ed viverra. Mauris ullamcorper euismod vehicula nunc purus.”</p>
                    </div>
                    <div class="client3-info">
                        <img alt="" src="/uploads/client-4.png">
                        <h5>Anet Growswood</h5>
                        <span>Customer</span>
                    </div>
                </div>
                <div class="sin-testimonial3">
                    <div class="client3-content">
                        <p>“Vestibulum ante ipsum prim aucibus orci luctustrices
                            posuere cubilia Curae Suspen disse viverra ed viverra. Mauris ullamcorper euismod vehicula nunc purus.”</p>
                    </div>
                    <div class="client3-info">
                        <img alt="" src="/uploads/client-2.png">
                        <h5>Anet Growswood</h5>
                        <span>Customer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>