<div class="best-area pb-120 mt-60">
    <div class="container">
        <div class="section-title-2 text-center mb-20">
            <h2>Best For Best</h2>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="best-content best-content-left">
                    <div class="single-best-wrap">
                        <div class="single-best-text">
                            <h5>Amzingly Detailed Template</h5>
                        </div>
                        <div class="single-best-icon">
                            <i class="ti-star"></i>
                        </div>
                    </div>
                    <div class="single-best-wrap">
                        <div class="single-best-text">
                            <h5>New Clean and Fresh Design Solution</h5>
                        </div>
                        <div class="single-best-icon">
                            <i class="ti-ruler-pencil"></i>
                        </div>
                    </div>
                    <div class="single-best-wrap">
                        <div class="single-best-text">
                            <h5>Easy Way to Make Website Running</h5>
                        </div>
                        <div class="single-best-icon">
                            <i class="ti-direction"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="best-img ml-20 mr-20 mt-60">
                    <img alt="" src="/uploads/banner-5.jpg">
                </div>
                <br />
                <div class="best-btn ml-0 mb-20">
                    <a class="btn-hover default-btn btn-block" href="#">Build Application Today</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="best-content best-content-right">
                    <div class="single-best-wrap">
                        <div class="single-best-icon">
                            <i class="ti-cup"></i>
                        </div>
                        <div class="single-best-text">
                            <h5>Awward Winnig Team</h5>
                        </div>
                    </div>
                    <div class="single-best-wrap">
                        <div class="single-best-icon">
                            <i class="ti-tablet"></i>
                        </div>
                        <div class="single-best-text">
                            <h5>Perfect Responsive Detalization</h5>
                        </div>
                    </div>
                    <div class="single-best-wrap">
                        <div class="single-best-icon">
                            <i class="ti-flag-alt-2"></i>
                        </div>
                        <div class="single-best-text">
                            <h5>Custom Blocks Ready to Use</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
