@mixin meddle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin custom($size) {
   @media (max-width: $size) {
      @content;
   }
}

@mixin tab() {
   @media (max-width: 769px) {
      @content;
   }
}
@mixin phn() {
   @media (max-width: 426px) {
      @content;
   }
}

@mixin custom($screen) {
   @media (max-width: $screen) {
      @content;
   }
}
