@import "./url";
@import "./variable";

body {
   font-family: $openSans;
   margin: 0;
   padding: 0;
   background: black;
   color: white;
}

.container {
   width: 75%;
   margin: 0 auto;
}
ul {
   list-style: none;
}
h1 {
   font-family: $oswald;
   text-align: center;
   color: white;
   font-weight: normal;
}

.video {
   &-banner {
      background: url(../images/banner.jpg);
      height: 547px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      cursor: pointer;
      &-overly {
         background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 15%,
            rgba(255, 255, 255, 0) 25%
         );
         height: 100%;
      }
      &:hover {
         .playButton {
            border-color: #c00;
            i {
               opacity: 1;
               transform: scale(1, 1);
            }
         }
      }
      .playButton {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         border: 5px solid;
         border-color: #c000;
         border-radius: 50%;
         transition: 0.3s all;
         width: 75px;
         height: 76px;
         i {
            font-size: 36px;
            padding: 20px;
            background: wheat;
            border-radius: 50%;
            opacity: 0.5;
            transform: scale(1.4, 1.4);
            background: rgba(0, 0, 0, 0.6);
            transition: 0.3s all;
         }
      }
   }
   &-footer {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &-right {
         display: flex;
         align-items: center;
         .live {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            span {
               margin-right: 5px;
               border-radius: 50%;
               height: 10px;
               width: 10px;
               background: #c00;
               display: block;
               animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite
                  alternate;
            }
            @keyframes blinker {
               0% {
                  opacity: 0;
               }
               100% {
                  opacity: 100%;
               }
            }
         }
         .setting {
            position: relative;
            img.hd {
               position: absolute;
               top: -5px;
               width: 17px;
               right: 0px;
            }
            .ql {
               position: absolute;
               top: -64px;
               left: -139px;
               z-index: 1000;
               display: none;
               min-width: 160px;
               padding: 5px 0;
               margin: 2px 0 0;
               font-size: 14px;
               border-radius: 4px;
               box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
               font-size: 11px;
               li {
                  padding: 5px 15px;
               }
               .active {
                  background: #c00;
               }
            }
            .active-ql {
               display: block;
            }
         }
      }
      &-left {
      }
      i,
      p {
         color: #999;
         padding: 6px 12px;
         font-size: 14px;
         margin: 0;
         &:hover {
            color: white;
         }
      }
   }
}
