<footer class="footer-area theme-bg  pt-70 pb-50">
    <div class="container">
        <div class="footer-top border-bottom-1">
            <div class="row">
                <div class="col-12">
                    <div class="support-text text-center">
                        <h2>Always Ready to Help You 24/7</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle pt-65">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-20">
                            <h4>contact Us</h4>
                        </div>
                        <div class="footer-cont-info">
                            <div class="single-footer-cont-info">
                                <div class="cont-info-icon">
                                    <i class="ti-mobile"></i>
                                </div>
                                <div class="cont-info-content">
                                    <p>+88 01720000001</p>
                                </div>
                            </div>
                            <div class="single-footer-cont-info">
                                <div class="cont-info-icon">
                                    <i class="ti-email"></i>
                                </div>
                                <div class="cont-info-content">
                                    <p>contact.octapia@gmail.com</p>
                                </div>
                            </div>
                            <div class="single-footer-cont-info">
                                <div class="cont-info-icon">
                                    <i class="ti-location-pin"></i>
                                </div>
                                <div class="cont-info-content">
                                    <p>Gulshan, Dhaka, Bangladesh</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i></a></li>
                                <li><a href="#"> <i class="ti-instagram"></i></a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"> <i class="ti-skype"></i></a></li>
                                <li><a href="#"> <i class="ti-wordpress"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-20">
                            <h4>Useful Links</h4>
                        </div>
                        <div class="useful-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i> About</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Featured Works</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Recent Posts</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-20">
                            <h4>Latest Twets</h4>
                        </div>
                        <div class="twitter-info">
                            <div class="single-twitter-info">
                                <div class="twitter-icon">
                                    <i class="ti-twitter-alt"></i>
                                </div>
                                <div class="twitter-content">
                                    <p>Props to YouTube star @CaseyNeistat for turning an abandoned mall into a #WinterWonderland for dozens of kiddos. <br>
                                        <a href="#">http://bit.ly/2AUNTLV </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pt-25">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center">
                        <p>
                            Copyright ©
                            <a href="#">Octapia</a>
                            . All Right Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- all js here -->
<script src="frontend/js/modernizr-3.6.0.min.js"></script>
<script src="frontend/js/jquery-v3.5.1.min.js"></script>
<script src="frontend/js/jquery-migrate-v3.3.0.min.js"></script>
<script src="frontend/js/popper.js"></script>
<script src="frontend/js/bootstrap.min.js"></script>
<script src="frontend/js/ajax-mail.js"></script>
<script src="frontend/js/plugins.js"></script>
<script src="frontend/js/main.js"></script>
