
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    background: chocolate;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    outline:none
}