<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home: Mongoose</title>
</head>
<body>

	<h1>Home</h1>
	<h4>mongoose curd operation</h4>
	<h6>User info</h6>
	<hr />
	<p>Name: <%= name %></p>
	
</body>
</html>
