
*{margin:0;
padding:0}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height :100vh;
    position: relative;
}
#calculator{
    height: 560px;
    width:300px;
    background: gray;
    border-radius: 10px;
    
}
#mouth{
    font-size: 70px;
    position: absolute;
    right:0px;
    top:0px;
}
