@import url("https://fonts.googleapis.com/css2?family=Texturina&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Texturina", serif;
}
.main {
  display: flex;
  align-items: stretch;
  width: 100%;
  position: relative;
}
