.navbar{
    height:80px;
    display:flex;
    background: #3440e6;
    justify-items: center;
    align-items: center;
    font-size:30px;
    color:#fff
}
.logo{
    font-weight: 700;
    font :45px solid black;
    justify-self: start ;
    color:white;
    margin-left:20px;
    cursor:pointer
    
}
.nav-items{
    display:grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    width: 70vw;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right:20px
}
.nav-links{
    text-transform: uppercase;
    text-decoration: none;
    padding:0.5rem 0.8rem;
    color:white;
}

.nav-links:hover{
    background: #1822af;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.menuIcon{
    display:none;
}
.btn{
    background:darkorange;
    border-radius:5px;
    padding:.5rem 1rem;
    margin-left:px
}
.btn:hover{
    background: darkorange;
}

@media screen and (max-width:1080px){
    .nav-links{
        padding:0.5rem 0.3rem;
    }
}