
    <form action="/" method="post" enctype = "multipart/form-data">
        <div class="form-group">
            <label for="title" class="text-white"> Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title">
        </div>
        <div class="form-group">
            <label for="author" class="text-white">Author</label>
            <input type="text" class="form-control" placeholder="author" name="author">
        </div>
        <div class="form-group">
            <label for="description" class="text-white">Description</label>
            <textarea name="" class="form-control" placeholder="description" rows="10"></textarea>    
        </div>
        <div class="form-group">
            <a href="/" class btn btn-warning> Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
