
.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    position: sticky;
    z-index: 111;
    box-shadow: 0 2px 3px grey;
    top:0;
    background-color:#fff
}

.header_left{
    display: flex;
    align-items: center;

}
.header_input {
    display: flex;
    flex:1;
    align-items: center;
    background-color:#eff2f5 ;
    border-radius: 999px;
    padding:10px;
    margin-left: 10px;
}
.header_left> img {
    width:40px
}
.header_input >input{
    outline: none;
    border:none;
    background-color: transparent;
}

.header_center{
    display: flex;
    align-items: center;
}

.header_options .MuiSvgIcon-root{
    color: grey;
    font-size: 35px;
}
.header_options .MuiSvgIcon-root:hover{
    color: #2e81f4;
    
    align-items: center;
}
.header_options{
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    padding:20px 30px;
}
.active{
    color:#2e81f4;
    border-bottom: 5px solid #2e81f4;
    border-radius: 0px;
}
.active > .MuiSvgIcon-root {
    color:#2e81f4
}
.header_options:hover{
    background: #eff2f5;
    padding:20px 30px;
}
.header_right{
    display: flex;
    align-items: center;
    cursor:pointer
}
.header_right h4{
    margin-left: 10px;
}