						<div class="col-lg-6 register-half-bg d-flex flex-row">
						    <p class="text-dark font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018, Octapia. All rights reserved.
						    <a href="/">Home</a> /
						    <a href="/about">About</a> /
						    <a href="/contact">Contact</a> /
                            <a href="/register">Register</a> /
                            <a href="/login">Login</a>
						    </p>
						    
						</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/backend/js/vendor.bundle.base.js"></script>
        <script src="/backend/js/off-canvas.js"></script>
        <script src="/backend/js/hoverable-collapse.js"></script>
        <script src="/backend/js/template.js"></script>
    </body>

</html>
