<!doctype HTML>
<html lang="en">

    <head>
        <meta charSet="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>
            <%= title  %> : Octapia.com
        </title>
        <link rel="stylesheet" href="/css/themify-icons.css" />
        <link rel="stylesheet" href="/css/vendor.bundle.base.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" href="/images/favicon.png">
        <style>
        .auth .register-half-bg {
            background: url(../../images/register-bg.png);
            background-size: contain;
            background-attachment: fixed;
            background-position: 100% 50%;
        }

        .invalid-feedback-display {
            display: block;
        }

        </style>
    </head>

    <body class="sidebar-fixed">
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                    <div class="row flex-grow">
