
h1{
  margin-bottom:50px
}
.contact {
  display:flex;
  align-items: center;
  justify-content: center;
 }
.contact::after{
  content:"";
  display: table;
  clear: both;
}
.contact>div{
  float:left;
  
}

.form{
  background-color: rgb(148, 6, 110);
  padding : 10px;  
  border-radius:10px;
}
label{
  display: block;
}
input{
  width:90%;
  padding:5px 10px;
  margin:5px 10px;
  background-color: thistle;
  font-weight: bolder;
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 5px 5px steelblue;
  font-size: 15px;
}
h2{
  text-align: center;
}
textarea{
  width:90%;
  padding:5px 10px;
  margin:5px 10px;
  background-color: thistle;
  font-weight: bolder;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}
#submit {
  color:#fff;
  background-color:mediumturquoise ;
  padding:5px 10px;
  font-size: medium;
  border-radius:5px;
  outline:none;
  box-shadow: none;
}
#submit{
  background-color: turquoise;
  cursor: pointer;
}
span,i{color: red;
font-size: 18px;}
.map{
  border-radius:10px
}