
label{
    margin-bottom: 5px;
    margin-top: 5px;
    display:flex;
    font-weight: bolder;
}
input{
    display:block;
    font-weight: bold;
    padding:5px 10px;
    font-size:20px;
    border-radius: 5px;
}
button{
    padding:5px 10px;
    font-weight:bolder;
    background:steelblue;
    color:white;
    font-size: 22px;
    border-radius: 5px;
}
.form-control{
    margin-bottom: 20px;
}
.error{
    color:red
}