@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  color:black;
  height:100vh;
  width:auto;
  font-family:'Roboto Slab', serif;
}
.main{
  display: flex;
  flex-direction: row;
}
.cont{
  display: flex;
  flex-direction: column;
  width: 40px;
  margin:0px 50px;
}
button{
  height:25px;
width:25px;
font-size: 20px;
font-weight: bold;
}