                    </div>
                    
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©  <a href="/" target="_blank">Octapia</a>. All rights reserved.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made with <i class="ti-heart text-danger ml-1"></i></span>
                        </div>
                    </footer>
                    
                </div>
            </div>
            
        </div>
        
        <script src="/backend/js/vendor.bundle.base.js"></script>        
        <script src="/backend/js/jquery.dataTables.js"></script>        
        <script src="/backend/js/dataTables.bootstrap4.js"></script>        
        <script src="/backend/js/off-canvas.js"></script>
        <script src="/backend/js/hoverable-collapse.js"></script>
        <script src="/backend/js/settings.js"></script>
        <script src="/backend/js/template.js"></script>
         
   