<!doctype HTML>
<html lang="en">

    <head>
        
        <meta charSet="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title><%= title %> : Blog</title>
        
        <link rel="stylesheet" href="/css/themify-icons.css" />
        <link rel="stylesheet" href="/css/vendor.bundle.base.css" />        
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        
    </head>

    <body class="sidebar-fixed">
        <div class="container-scroller">
            <%- include("navbar") %>
            
            <div class="container-fluid page-body-wrapper"> 

                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="">
                                <i class="ti-home menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="ti-export menu-icon"></i>
                                <span class="menu-title">Popups</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="ti-bell menu-icon"></i>
                                <span class="menu-title">Notifications</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="ti-bell menu-icon"></i>
                                <span class="menu-title">Notifications</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                 <div class="main-panel">
                    
                    <div class="content-wrapper">
                     <!-- main content goes here -->
                   